Checks: >
  -*,                                  # Disable all checks
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  misc-*,
  portability-*,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -misc-no-recursion
WarningsAsErrors: '*'
