Checks: >
  -*,                                  # Disable all checks
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  misc-*,
  portability-*,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: '*'
